body {
  font-family: 'Raleway';
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

#small-screen-header-img {
  content:url(./img/title-no-logo.png);
  max-width: 100%;
}

#about {
  height:100vh;
  background: linear-gradient(to top, rgba(247, 179, 33, 0.562), #F7B221);
}

.aboutTextContainer {
  line-height: 120vh;
  width: 100%;
  position: absolute;
  font-size: 1.0em;
  color: white;
  align-content: center;
  text-align: center;
}

.aboutTextContainer p {
  font-weight: 200;
  text-align: center;
  color: white;
}


h1, nav, nav a {
  display: inline-flex;
  margin: 7px;
  margin-top: 10px;
  color: white;
}

h1 {
  float: left;
  font-size: 1.8em;
  margin-left: 2%;
  font-weight: 200;
  margin-top: 15px;
  margin-right: 0;
  font-weight: bold;
}

nav {
  float: right;
  font-size: 1.2em;
  margin-right: 2%;
}

nav i:hover, .arrowContainer i:hover{
  color: #4c4c4c;
  text-decoration: none;
}

.arrowContainer {
  position: absolute;
  bottom: 0;
  margin-top: 51%;
  width: 100%;
  text-align: center;
  color: white;
}

#solution, #problem {
  background-color: #F4F4F4;
  padding: 10px;
}

h2 {
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 10px;
  text-align: left;
}

.content {
  background-color: white;
  border-color: #dfdfdf;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
}

.image {
  background-size: cover;
  height: 300px;
  background-position: top;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.textContent {
  margin: 15px;
}

.textContent i:hover, .textContent i:focus {
  color: #4c4c4c;;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.flex-column {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
}

.linkStyle {
  color: black;
  float: right;
}

h3 {
  display: inline;
  margin-bottom: 5px;
}

#skills {
  text-align: center;
  padding: 10px;
  background-color: #F4F4F4;
}

#skills div {
  display: inline-block;;
}

#skills i {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 5em;
}

.skillIconDiv {
  width: 135px;
}

.lightBlue {
  color: #00A7F7;
}


header {
  visibility: hidden;
}

@media screen and (min-width: 420px) {
  .aboutTextContainer {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 500px) {
  #about {
    height:100vh;
    background-image: url(./img/shelvesKEXP.png);
    background-size: cover;
    background-position: center;
    color: white;
  }

  #small-screen-header-img {
    content: none;
  }

  .aboutTextContainer, .aboutTextContainer p {
    visibility: hidden;
  } 

  header {
    visibility: visible
  }
}


@media screen and (min-width: 630px) {
  .aboutTextContainer {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 987px) {
  .flex-column {
    flex-basis: 50%;
  }

  h1, nav, nav a {
  margin: 15px;
  }

  h1 {
    font-size: 2.1em;
  }

  .aboutTextContainer {
    font-size: 1.8em;
  }

  .content {
    margin: 10px;
    padding: 10px;
  }
}
